#### Q1. Declare a list and find its length?

In [1]:
lst = [45,56,87,93,26,43,0,11,8]
lst

[45, 56, 87, 93, 26, 43, 0, 11, 8]

In [2]:
len(lst)

9

#### Q2. Can list be nested?

* Yes, list Can be nested

In [4]:
lst1 = [1,3,5,[2.3,6.7,8.9,['abc','xyz','pqr']]]
lst1

[1, 3, 5, [2.3, 6.7, 8.9, ['abc', 'xyz', 'pqr']]]

#### Q3. What will happen if we add the two lists

l1=[2,4,5,1]

l2= [3,2,6.7]

In [6]:
l1=[2,4,5,1]
l2= [3,2,6.7]
l1+l2

[2, 4, 5, 1, 3, 2, 6.7]

#### Q4. What will happen if we multiply the following list by 3

l1=[2,4,5,1]

In [7]:
l1=[2,4,5,1]
l1*3

[2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1]

#### Q5. Use indexing to grab the word "Test Yantra" from the following list

In [9]:
lst1 = [1,3,5,7,"Test Yantra"]
lst1[4]

'Test Yantra'

#### Q6. Use indexing to grab the word "Data Science" from the following list

In [10]:
lst3=[33,21,4,6,7,[[2,1,34,"DataScience"], 22,True]]
lst3[5][0][3]

'DataScience'

#### Q7. Use indexing to grab the word "Python" from the following list

In [12]:
lst = [1,2,[3,4],[5,[100,200,['Python']],23,11],1,7]
lst[3][1][2][0]

'Python'

#### Q8. Use indexing to grab the word "hello" from the following list

In [18]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0].upper()

'HELLO'

 #### Q9. Given this nested list, use indexing to grab the word "final_target"

In [8]:
nest = [1,2,3,[4,5,['target', 'next_target',['final_target']]]]
nest[3][2][2][0]

'final_target'

#### Q10. name some in-built methods for list and give example for each of them

In [14]:
l = [23,34,76,98,90,76,18]
l.append(30)
l

[23, 34, 76, 98, 90, 76, 18, 30]

In [15]:
j = l.copy()
j

[23, 34, 76, 98, 90, 76, 18, 30]

In [17]:
l.pop(4)
l

[23, 34, 76, 98, 76, 18, 30]

In [19]:
l.insert(4,10)
l

[23, 34, 76, 98, 10, 76, 18, 30]

In [22]:
l.extend([76])
l

[23, 34, 76, 98, 10, 76, 18, 30, 76, 76, 76]

In [25]:
l.del()
# l is deleted
l

SyntaxError: invalid syntax (<ipython-input-25-97271f063096>, line 1)

#### Q11. What is the difference between 'del' and 'clear' with respect to list ?

In [26]:
list = [76,90,4,5,8,54]
list

[76, 90, 4, 5, 8, 54]

In [27]:
list.clear()
# clear() Delete the all elements of the list
list

[]

In [30]:
list.del()
# del() delete the list
list

SyntaxError: invalid syntax (<ipython-input-30-fa53f53426e5>, line 1)

#### Q12. Write codes to create a dictionary and use some inbuilt methods

In [31]:
dict = {0:34,1:76,2:85,3:31}
dict

{0: 34, 1: 76, 2: 85, 3: 31}

In [32]:
dict.items()

dict_items([(0, 34), (1, 76), (2, 85), (3, 31)])

In [33]:
dict.keys()

dict_keys([0, 1, 2, 3])

#### Q13.Given this nested dictionary grab the word "val3".

In [36]:
d = {'key1':{'val1':{'val2':'val3'}}}

In [37]:
d['key1']['val1']['val2']

'val3'

#### Q14.Given this nested dictionary grab the word "welome"

In [38]:
d1 = {'key1':[1,3,5,{'hello':[{'world':[4,6,'welcome']},'a','e','g']}]}

In [39]:
d1['key1'][3]['hello'][0]['world'][2]

'welcome'

#### Q15.Given this nested dictionary grab the word "Data Scientist"

In [40]:
d1 = {'key1':[1,3,5,{'I am':[5,7,8,[{'a':[4,6,['Data Scientist']]},'a','e','g']]}]}

In [41]:
d1['key1'][3]['I am'][3][0]['a'][2][0]

'Data Scientist'

#### Q16.Given this nested dictionary grab the word "hello".

In [42]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [43]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Q17.  Create one Tuple and use some methods associated with that

In [47]:
tup = (87,64,92,32,21,10,6,8,5,89,64,5,7,64)
tup

(87, 64, 92, 32, 21, 10, 6, 8, 5, 89, 64, 5, 7, 64)

In [48]:
tup.count(64)

3

In [49]:
tup.index(5)

8

#### Q18.  Create some Sets and use some methods associated with that

In [50]:
s = {43, 65, 78, 94, 65,78,43,90,94,65}
s

{43, 65, 78, 90, 94}

In [52]:
s1 = {2,3,5,6,9,8,4,5,3,2,2,6,6}
s1

{2, 3, 4, 5, 6, 8, 9}

In [53]:
s2 = {3,4,5,6,7,8,9,2,45,6,7,8,9}
s2

{2, 3, 4, 5, 6, 7, 8, 9, 45}

In [54]:
s1.intersection(s2)

{2, 3, 4, 5, 6, 8, 9}

In [55]:
s1.union(s2)

{2, 3, 4, 5, 6, 7, 8, 9, 45}

In [56]:
s.add(12)
s

{12, 43, 65, 78, 90, 94}

In [59]:
s.remove(65)
s

{12, 43, 78, 90, 94}

In [60]:
%pwd

'C:\\Users\\anusr\\Anusruta'