# Enter A for creating new Cell Above
# Enter B for creating new Cell Bellow
# Enter DD for Deleting the cell

# Heading1
## Heading 2
### Heading 3
#### Heading 4

In [2]:
#Know your Current Directory
%pwd

'C:\\Users\\anusr\\Anusruta'

In [3]:
print('Hello World')

Hello World

In [4]:
# Know your python verson
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

# Mathamatical Calculations

In [5]:
# Addition
3+4

7

In [6]:
3-4

-1

In [7]:
3*4

12

In [8]:
3/4

0.75

In [9]:
3%4

3

In [10]:
3//4

0

In [11]:
7//4

1

In [12]:
3**3

27

In [13]:
3+4+7*8-4/2

61.0

In [14]:
9**(1/2)

3.0

In [15]:
27**(1/3)

3.0

## DataTypes

int

float

boolean

String

datetime

enumerate

In [22]:
a=2
a

2

In [20]:
type(a)

float

In [18]:
b = 4.5
type(b)

float

In [24]:
a = 3.5
type(a)

float

In [23]:
type(a)

int

In [25]:
b = int(a)
b

3

In [26]:
a+b

6.5

In [27]:
b+true

NameError: name 'true' is not defined

In [28]:
b+True

4

In [29]:
3.5+b+True

7.5

In [30]:
c = "Data"
c

'Data'

In [31]:
type(c)

str

In [32]:
d=float(c)

ValueError: could not convert string to float: 'Data'

In [33]:
e = '3.5'
e

'3.5'

In [34]:
f=float(e)
f

3.5

In [35]:
type(e)

str

In [36]:
type(f)

float

In [37]:
g = int(e)
g

ValueError: invalid literal for int() with base 10: '3.5'

In [38]:
m = '3'
m

'3'

In [39]:
n = int(m)

In [40]:
n

3

In [41]:
3.4 + int('3')+ True

7.4

In [42]:
int (True)

1

In [43]:
float(True)

1.0

In [44]:
1 + int('')

ValueError: invalid literal for int() with base 10: ''

## Pros and Cons of Dynamic Type

### Prose of Dynamic Typing

*Varry Easy To Work With

*Faster Developement Time


### Cons of Dynamic Typing

*May result in unexpected Bugs

*You need to Awaer Sbout Type

In [1]:
s = "This is the Data Science Class"
type(s)

str

In [2]:
len(s)

30

## Assignment Operator

In [3]:

a = 5
a = a+4
a

9

In [4]:
a+=4

In [5]:
a

13

In [6]:
a-=3

In [7]:
a

10

In [8]:
b =2
a*=b
a

20

In [9]:
a** = b
a

SyntaxError: invalid syntax (<ipython-input-9-32495a599b30>, line 1)

In [10]:
a**=b
a

400

## Logical Operator

In [11]:
5<7

True

In [12]:
5>7

False

In [13]:
5<7 or 6>8

True

In [15]:
my_income = 100
tax_rates =0.1

In [16]:
my_tax = my_income*tax_rates
my_tax

10.0

## Strings

In [17]:
s ="My name is Anusruta"
s

'My name is Anusruta'

In [18]:
len(s)

19

### Iteration Through String

In [19]:
s[0]

'M'

In [20]:
s[2]

' '

In [21]:
s[1:8]

'y name '

In [22]:
s[:8]

'My name '

In [23]:
s[-1]

'a'

In [24]:
s[-5]

's'

In [25]:
s[-8:]

'Anusruta'

In [26]:
# It will Print till the end and not throwing any Error
s[3:100]

'name is Anusruta'

In [27]:
# Strin is immiutable
s[4]= 'e'

TypeError: 'str' object does not support item assignment

In [29]:
# Upper Case a String
s.upper()

'MY NAME IS ANUSRUTA'

In [30]:
# Lower Case a String
s.lower()

'my name is anusruta'

In [31]:
s.capitalize()

'My name is anusruta'

In [32]:
# Split Every Words
s.split()

['My', 'name', 'is', 'Anusruta']

In [34]:
# Split From 'a'
s.split('a')

['My n', 'me is Anusrut', '']

In [35]:
name = 'Ram'
age = 30
print('His name is {} and his age is {}'.format(name,age))

His name is Ram and his age is 30

In [36]:
print('His name is {} and his age is {}'.format('Ramesh',35))

His name is Ramesh and his age is 35

In [38]:
city_name1 = 'Bangalore'
city_name2 = 'Mysore'
d = 150
print('The Distance Between {} to {} is {}Km'.format(city_name1,city_name2,d))

The Distance Between Bangalore to Mysore is 150Km

In [42]:
s1 = 'My'
s2 = 'name'
s3 = '23'
s1+s2+s3

'Myname23'

In [40]:
s1+s2

'Myname'

In [43]:
s1+s2+s3

'Myname23'

In [44]:
s1*5

'MyMyMyMyMy'

# List

In [45]:
# Declaration
lst = []

In [46]:
type(lst)

list

In [47]:
len(lst)

0

In [48]:
lst = ['A String',23,101.54,'R']

In [49]:
lst

['A String', 23, 101.54, 'R']

In [50]:
my_list = lst

In [51]:
my_list

['A String', 23, 101.54, 'R']

In [52]:
lst[0]

'A String'

In [53]:
lst[:2]

['A String', 23]

In [54]:
lst[0][2:]

'String'

In [55]:
# get the Domain name using Split Function
email = "anusruta.dutta@gmail.com"
email.split('@')[1]

'gmail.com'

In [56]:
b = email.split()

In [57]:
b

['anusruta.dutta@gmail.com']

In [58]:
b[0][9:]

'dutta@gmail.com'

In [59]:
a = [2,3,5,6]
b = [6,7,8,9]
a+b

[2, 3, 5, 6, 6, 7, 8, 9]

In [60]:
a-b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [61]:
a*2

[2, 3, 5, 6, 2, 3, 5, 6]

In [62]:
a.append(10)
a

[2, 3, 5, 6, 10]

In [63]:
a.extend([5,6])

In [64]:
a

[2, 3, 5, 6, 10, 5, 6]

In [65]:
a.extend([2])

In [66]:
a

[2, 3, 5, 6, 10, 5, 6, 2]

In [67]:
a.insert(3,'name')

In [68]:
a

[2, 3, 5, 'name', 6, 10, 5, 6, 2]

In [69]:
a.pop(3)
a

[2, 3, 5, 6, 10, 5, 6, 2]

In [70]:
a.pop()
a

[2, 3, 5, 6, 10, 5, 6]

In [71]:
b = a.copy()
a
b

[2, 3, 5, 6, 10, 5, 6]

In [72]:
b

[2, 3, 5, 6, 10, 5, 6]

In [73]:
a

[2, 3, 5, 6, 10, 5, 6]

In [74]:
a.clear
a

[2, 3, 5, 6, 10, 5, 6]

In [75]:
a.clear()
a

[]

In [78]:
n1 =[2,3,4,[5,'x',[2,'Name']]]
n1[3][2][1]

'Name'

In [79]:
n1[3][2][1]

'Name'

# Exercises

### Q1. Get the quotient

In [81]:
a = 2
b = str(a)

In [82]:
b

'2'

# Dictionary 

*decleare inside {}

*Required key values

*Ex- d ={'key1':'ABC',
         'key2':'XYZ',
         'key3':'PQR}

In [84]:
d1 = {'Name':['Ram','Rishi','Priya','Pravati','Riya','Raghav'],
     'Age':[23,24,15,16,17,18],
     'Course':['A','B','A','A','B','A']}

In [85]:
d1

{'Name': ['Ram', 'Rishi', 'Priya', 'Pravati', 'Riya', 'Raghav'],
 'Age': [23, 24, 15, 16, 17, 18],
 'Course': ['A', 'B', 'A', 'A', 'B', 'A']}

In [86]:
d1['Name']

['Ram', 'Rishi', 'Priya', 'Pravati', 'Riya', 'Raghav']

In [88]:
d1['Age']

[23, 24, 15, 16, 17, 18]

In [89]:
d1.items()

dict_items([('Name', ['Ram', 'Rishi', 'Priya', 'Pravati', 'Riya', 'Raghav']), ('Age', [23, 24, 15, 16, 17, 18]), ('Course', ['A', 'B', 'A', 'A', 'B', 'A'])])

In [90]:
d = {0:10,1:20}
print(d)

{0: 10, 1: 20}

In [91]:
d1.keys()

dict_keys(['Name', 'Age', 'Course'])

# Tuples
* Immutable

In [92]:
tup1 = (2,3,4,5,6)
tup1

(2, 3, 4, 5, 6)

In [93]:
type(tup1)

tuple

In [94]:
tup1[3]

5

In [95]:
tup1[4] = 10

TypeError: 'tuple' object does not support item assignment

In [97]:
# How many times One Perticular Element Occurs
tup1.count(2)

1

# Set 

* Declare inside {}

* No Key is there

In [98]:
s1 = {2,3,3,4,4,4,5}
s1

{2, 3, 4, 5}

In [99]:
s2={3,7,8,4,1,3,2,11}
s2

{1, 2, 3, 4, 7, 8, 11}

In [100]:
s1.intersection(s2)

{2, 3, 4}

In [101]:
s1.union(s2)

{1, 2, 3, 4, 5, 7, 8, 11}