In [1]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Importing the data

In [4]:
cars=pd.read_csv('mtcars.csv')
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
cars.columns

Index(['model', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [6]:
cars.shape

(32, 12)

In [7]:
X=cars.drop(['model','am'],1)

In [48]:
y=cars[['am']]

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)

In [51]:
from sklearn.preprocessing import StandardScaler

In [67]:
scaler=StandardScaler()
X_train[['mpg','disp','hp','drat','wt','qsec','carb']]= scaler.fit_transform(X_train[['mpg','disp','hp','drat','wt','qsec','carb']])
X_train_scaled=X_train
X_train_scaled.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb
18,1.924761,4,-1.399157,-1.494302,2.678060,-1.839505,0.302786,1,4,-0.603957
10,-0.251192,6,-0.599740,-0.423123,0.730221,0.137795,0.518582,1,4,0.661477
3,0.370509,6,0.186628,-0.619254,-0.889765,-0.105981,0.825240,1,3,-1.236674
1,0.301431,6,-0.665851,-0.619254,0.691650,-0.474355,-0.549041,0,4,0.661477
20,0.387778,4,-1.012932,-0.815385,0.305939,-0.918570,1.148934,1,3,-1.236674

In [68]:
from sklearn.feature_selection import RFE

In [69]:
from sklearn.linear_model import LogisticRegression
lr= LogisticRegression()
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
rfe=RFE(lr,6)

In [71]:
rfe=rfe.fit(X_train_scaled,y_train)

In [72]:
rfe.support_

array([ True,  True, False, False, False,  True,  True, False,  True,
        True])

In [73]:
list(zip(X_train.columns,rfe.support_,rfe.ranking_))

[('mpg', True, 1),
 ('cyl', True, 1),
 ('disp', False, 4),
 ('hp', False, 5),
 ('drat', False, 2),
 ('wt', True, 1),
 ('qsec', True, 1),
 ('vs', False, 3),
 ('gear', True, 1),
 ('carb', True, 1)]

In [74]:
selected_col=X_train_scaled.columns[rfe.support_]

In [75]:
X_train_scaled_rfe=X_train[selected_col]
X_train_scaled_rfe

         mpg  cyl        wt      qsec  gear      carb
18  1.924761    4 -1.839505  0.302786     4 -0.603957
10 -0.251192    6  0.137795  0.518582     4  0.661477
3   0.370509    6 -0.105981  0.825240     3 -1.236674
1   0.301431    6 -0.474355 -0.549041     4  0.661477
20  0.387778    4 -0.918570  1.148934     3 -1.236674
27  1.924761    4 -1.950017 -0.617188     5 -0.603957
12 -0.337540    8  0.451996 -0.219668     3  0.028760
5  -0.199384    6  0.159464  1.268190     3 -1.236674
14 -1.529133    8  2.098844 -0.003872     3  0.661477
0   0.301431    6 -0.750635 -0.867057     4  0.661477
22 -0.700198    8  0.132378 -0.390034     3 -0.603957
4  -0.095767    8  0.137795 -0.549041     3 -0.603957
8   0.612281    4 -0.176406  2.790122     4 -0.603957
13 -0.700198    8  0.506169  0.007486     3  0.028760
9  -0.009420    6  0.137795  0.177851     4  0.661477
15 -1.529133    8  2.287364 -0.094734     3  0.661477
30 -0.734737    8  0.278644 -1.923323     5  3.192345
23 -1.028318    8  0.571176 -1.463336     3  0.661477
6  -0.855624    8  0.278644 -1.219146     3  0.661477
17  2.270150    4 -1.205685  0.842277     4 -1.236674
11 -0.492965    8  0.820370 -0.333245     3  0.028760
31  0.370509    4 -0.577283  0.348217     4 -0.603957

In [114]:
lr.fit(X_train_scaled_rfe,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [115]:
y_pred_lr_train=lr.predict(X_train_scaled_rfe)

In [116]:
print('Acuracy:',accuracy_score(y_train,y_pred_lr_train))

Acuracy: 1.0

In [117]:
print('Confusion matrics',confusion_matrix(y_train,y_pred_lr_train))

Confusion matrics [[15  0]
 [ 0  7]]

# State model

In [76]:
import statsmodels.api as sm

In [77]:
X_train_scaled_rfe_sm=sm.add_constant(X_train_scaled_rfe)
X_train_scaled_rfe_sm

    const       mpg  cyl        wt      qsec  gear      carb
18    1.0  1.924761    4 -1.839505  0.302786     4 -0.603957
10    1.0 -0.251192    6  0.137795  0.518582     4  0.661477
3     1.0  0.370509    6 -0.105981  0.825240     3 -1.236674
1     1.0  0.301431    6 -0.474355 -0.549041     4  0.661477
20    1.0  0.387778    4 -0.918570  1.148934     3 -1.236674
27    1.0  1.924761    4 -1.950017 -0.617188     5 -0.603957
12    1.0 -0.337540    8  0.451996 -0.219668     3  0.028760
5     1.0 -0.199384    6  0.159464  1.268190     3 -1.236674
14    1.0 -1.529133    8  2.098844 -0.003872     3  0.661477
0     1.0  0.301431    6 -0.750635 -0.867057     4  0.661477
22    1.0 -0.700198    8  0.132378 -0.390034     3 -0.603957
4     1.0 -0.095767    8  0.137795 -0.549041     3 -0.603957
8     1.0  0.612281    4 -0.176406  2.790122     4 -0.603957
13    1.0 -0.700198    8  0.506169  0.007486     3  0.028760
9     1.0 -0.009420    6  0.137795  0.177851     4  0.661477
15    1.0 -1.529133    8  2.287364 -0.094734     3  0.661477
30    1.0 -0.734737    8  0.278644 -1.923323     5  3.192345
23    1.0 -1.028318    8  0.571176 -1.463336     3  0.661477
6     1.0 -0.855624    8  0.278644 -1.219146     3  0.661477
17    1.0  2.270150    4 -1.205685  0.842277     4 -1.236674
11    1.0 -0.492965    8  0.820370 -0.333245     3  0.028760
31    1.0  0.370509    4 -0.577283  0.348217     4 -0.603957

In [88]:
y_train_scaled=scaler.fit_transform(y_train)

In [79]:
X_train_scaled_rfe_sm.shape

(22, 7)

In [90]:
lgmod=sm.GLM(y_train_scaled,X_train_scaled_rfe_sm,family=sm.families.Binomial()).fit()

In [103]:
print(lgmod.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   22
Model:                            GLM   Df Residuals:                       15
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                    nan
Date:                Wed, 11 Sep 2019   Deviance:                       1006.8
Time:                        13:44:13   Pearson chi2:                 3.83e+16
No. Iterations:                     3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1.129e+16   3.22e+08  -3.51e+07      0.000   -1.13e+16   -1.13e+16
mpg          2.18e+15   4.78e+07   4.56e+07      0.000    2.18e+15    2.18e+15
cyl        -9.934e+14    2.6e+07  -3.83e+07      0.000   -9.93e+14   -9.93e+14
wt          4.276e+14   4.21e+07   1.02e+07      0.000    4.28e+14    4.28e+14
qsec       -2.855e+15      3e+07  -9.52e+07      0.000   -2.85e+15   -2.85e+15
gear        4.159e+15   6.08e+07   6.84e+07      0.000    4.16e+15    4.16e+15
carb       -5.548e+14    4.2e+07  -1.32e+07      0.000   -5.55e+14   -5.55e+14
==============================================================================

In [91]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [92]:
vif=pd.DataFrame()
vif['features']=X_train_rfe.columns
vif['VIF']=[variance_inflation_factor(X_train_rfe.values,i) for i in range(X_train_rfe.shape[1])]
vif= vif.sort_values(by='VIF', ascending=False)
vif

  features        VIF
1      cyl  53.000128
4     gear  51.485811
0      mpg   9.979705
2       wt   8.309261
5     carb   4.881569
3     qsec   3.894324

In [93]:
y_pred=lgmod.predict(X_train_scaled_rfe_sm)

In [101]:
y_pred

18    1.0
10    0.0
3     0.0
1     1.0
20    0.0
27    1.0
12    0.0
5     0.0
14    0.0
0     1.0
22    0.0
4     0.0
8     0.0
13    0.0
9     0.0
15    0.0
30    1.0
23    0.0
6     0.0
17    1.0
11    0.0
31    1.0
dtype: float64

In [110]:
y_train_scaled

          0
0   1.46385
1  -0.68313
2  -0.68313
3   1.46385
4  -0.68313
5   1.46385
6  -0.68313
7  -0.68313
8  -0.68313
9   1.46385
10 -0.68313
11 -0.68313
12 -0.68313
13 -0.68313
14 -0.68313
15 -0.68313
16  1.46385
17 -0.68313
18 -0.68313
19  1.46385
20 -0.68313
21  1.46385

In [94]:
from sklearn.metrics import r2_score

In [100]:
r2_score(y_train_scaled,y_pred)

0.6133591605417816

In [104]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [112]:
print(' Acuracy Score:')
print(accuracy_score(y_train_scaled,y_pred))

 Acuracy Score:

ValueError: Classification metrics can't handle a mix of continuous and binary targets

In [118]:
X_test[['mpg','disp','hp','drat','wt','qsec','carb']]= scaler.fit_transform(X_test[['mpg','disp','hp','drat','wt','qsec','carb']])

In [119]:
X_test_rfe=X_test[X_train_scaled_rfe.columns]

In [121]:
y_pred_lr_test=lr.predict(X_test_rfe)

In [122]:
print('Accuracy Score:',accuracy_score(y_test,y_pred_lr_test))

Accuracy Score: 1.0

In [124]:
print('confusion_matrix:\n',confusion_matrix(y_test,y_pred_lr_test))

confusion_matrix:
 [[4 0]
 [0 6]]

In [125]:
print('Classification report:\n',classification_report(y_test,y_pred_lr_test))

Classification report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         4
           1       1.00      1.00      1.00         6

    accuracy                           1.00        10
   macro avg       1.00      1.00      1.00        10
weighted avg       1.00      1.00      1.00        10